.banner {
    background-image: url(../img/banner-bg.png);
    background-size: cover;
    background-position: center;
    padding-top: 426px;
    padding-bottom: 315px;
    &-content {
        & h1 {
            color: #FFF;
            font-size: 100px;
            font-weight: 400;
            line-height: 64.4%;
            margin-bottom: 40px;
        }
        & p {
            color: #FFF;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #000;
            font-size: 35px;
            font-weight: 900;
            line-height: 140%;
        }
    }
}