.banner {
    background-image: url(../img/banner-bg.png);
    background-size: cover;
    background-position: center;
    padding-top: 426px;
    padding-bottom: 315px;
    &-content {
        & h1 {
            color: #FFF;
            font-size: 100px;
            font-weight: 400;
            line-height: 64.4%;
            margin-bottom: 40px;
        }
        & p {
            color: #FFF;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #000;
            font-size: 35px;
            font-weight: 900;
            line-height: 140%;
            margin-bottom: 15px;
        }
        & span {
            display: inline-block;
            height: 37px;
            width: 338px;
            border: 1px dashed white;
        }
    }
    & .shape {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 69.27%);
    }
}