@tailwind base;
@tailwind components;
@tailwind utilities;
// 
body {
    font-size: 16px;
    font-weight: 400;
    line-height: calc(26px/16px);
    color: $text;
    font-family: $font-1;
    background-image: url(../img/body-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-2;
    color: $heading;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
    @include transition;
}

input,
textarea,
button {
    padding: 10px 25px;
    border: 1px solid $border;
    outline: none;
    @include transition;
    &:focus {
        outline: none;
        border-color: $primary;
    }
}


/*Hide number spin button*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

#root {
    overflow: hidden;
}

.container {
    @media only screen and (min-width: 1700px) {
        max-width: 1594px;
    }
}