@font-face {
    font-family: 'bleach';
    src: url(../font/FontBleach.ttf);
}

@font-face {
    font-family: 'Satoshi';
    src: url(../font/Satoshi-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: 'Satoshi';
    src: url(../font/Satoshi-Bold.woff);
    font-weight: 700;
}

@font-face {
    font-family: 'Satoshi';
    src: url(../font/Satoshi-Black.woff);
    font-weight: 900;
}

@font-face {
    font-family: "black";
    src: url(../font/BlackAndWhitePicture-Regular.ttf);
}

$font-1:'Satoshi';
$font-2:'bleach';
$font-3:'black';
$white:#fff;
$black:#000;
$primary: #15ACFF;
$secondary: #050505;
$text:#C0C3C5;
$heading: $white;
$border:#4B4B4B;
$bg:#000000;
:root {
    scroll-behavior: auto !important;
}