@font-face {
    font-family: 'bleach';
    src: url(../font/FontBleach.ttf);
}

$font-1:'bleach';
$font-2:$font-1;
$white:#fff;
$black:#000;
$primary: #15ACFF;
$secondary: #050505;
$text:#C0C3C5;
$heading: $white;
$border:#4B4B4B;
$bg:#000000;
:root {
    scroll-behavior: auto !important;
}