$font-1:'Roboto';
$font-2:'poppins';
$white:#fff;
$black:#000;
$primary: #15ACFF;
$secondary: #050505;
$text:#C0C3C5;
$heading: $white;
$border:#4B4B4B;
$bg:#000000;
:root {
    scroll-behavior: auto !important;
}